set-option -g default-shell /bin/zsh

set -g mouse on
setw -g mode-keys vi

unbind C-b
set -g prefix C-a
bind C-a send-prefix

unbind '"'
unbind %
bind | split-window -h
bind - split-window -v

bind-key -n PageUp copy-mode -u
bind-key -n PageDown send-keys -X page-down

# TPM and plugins
set -g @plugin 'tmux-plugins/tmux-yank'
run '~/.tmux/plugins/tpm/tpm'
